* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #e0e0e0;
	padding: 30px;
    background-color: black;
}


#lgo {
    height: 140px;
    width: 140px;
    position: absolute;
    top: 50px;
}
#login {
    float: right;

}
#kart {
float: right;
font-family: cursive;
font-weight: bold;
position: relative;
bottom: 40px;
left: 5cm;
font-style: italic;


}
#k
{
    background-color: pink;
    color: black;
}

#top {
    float: right;
    font-family: cursive;
    position: relative;
    bottom: 40px;
    right: 15cm;
    font-size: 50px;
}
#jumbo {
    background-color: blue;
    height: 20%;
}

.search-bar {
	position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

ul#wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 50px;
	text-align: center;
}

li {
    width: 200px;
    height: 100px;
    background: #673ab7;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-align: center;
}

a {
    font-size: 24px;
    color: cyan;
    line-height: 100px;
    font-family: monospace;
    text-decoration: none;
}
.search-bar {
    background-color: black;
    font-color:white;
    color: white;
}
#myinput {
    background-color: black;
    font-color: white;
    color: white;
}
h1 {
    color: yellow;
    font-family: cursive;
    text-align: center;
   float: fixed;
   position: relative;
   bottom: 30px;
}