*{
	margin: 0;
	padding: 0;
}


body {
	font-size: 16px;
	color: white;
	background-color: #61122f;
}



#head {
	position: relative;
	text-align: center;
}
.img {
	width: 15%;
	height: 10%; 
	position: relative;
	bottom: 69px;
}
#search {
	background-color: black;
	border-color: blue;
	padding: 10px 250px 10px 30px;
	margin: 1px;
	position: relative;
	left: 300px;
	bottom: 130px;
	color: white;
	font-style: italic;
	font-weight: bold;
	font-family: cursive;
}
#srchb {
background-color: #8080ff;
font-family: cursive;
	width: 100px;
	height: 45px;
	margin: 10px solid green;
	padding: 10px solid black;
	position: relative;
	bottom: 130px;
	left: 290px;
	font-weight: bold;
}
#login {
	font-size: 27px;
	font-family: cursive;
	color: white;
	position: relative;
	bottom: 169px;
	left: 980px;

}

@media (min-width: 1200px) {
	 .col-lg-12{
		float: left;
		border: 1px solid green;
	} 
	.col-lg-12{width: 100%;}
}

.row {
	width: 100%;
}
 #top {

	border: 10px solid #66b3ff;
	background-color: blue;
	width: 100%;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	font-family: cursive;
	color: black;

}
#icon {
	position: relative;
	bottom: 200px;
	left: 1200px;
	color: white;
	font-size: 180%;
 }
 #cart {
	position: relative;
	bottom: 240px;
	left: 1230px;
	color: white;
	font-size: 180%;
 }
